/* structure created using grid and flex */
*{
    box-sizing: border-box;
}

header{
    grid-area:header;
}

aside {
	grid-area: aside;
}

aside section{
    height:100%;
}

body{
    display:grid;
    grid-template-columns:25vw 1fr;
    grid-template-rows: 2vw 1fr ;
    grid-template-areas: "header header "
                        "aside main"; 
}

.info-grid-row {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    height: 50vh;
    /* padding: 25px 25px; */
    padding: 25px 75px 25px 75px;
}

.info-grid-item {
    display:block;
    width: 100%;
}

.about-grid-col{
    display: flex;
    width: 100%;
    height:100vh;
    justify-content: center;
    flex-wrap: wrap; 
    /* padding: 25px 25px; */
    padding: 25px 0px 25px 75px;
}

.about-col-item{
    display:block;
    height: 100%;
}

.header-grid-col{
    display: flex;
    width: 50vw;
    height: 100%;
}

.header-grid-col-item{
    display:block;
    width: 100%;
}

#header-grid {
    display:flex;
    width: 100%;
    height: 100%;
}

#info-grid {
    width: 100%;
    height: 100vh;
}

#about-col{
    width: 100%;
    height: 100vh;
}